body {
    
    background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
    margin: 0;
    padding:0;
}
p{
    color: #ffffff;
}
.contained{
    display: grid;
    max-width: 100%;
    grid-template-columns: 100%;

}
.bio-wrapper{
    display: grid;
}
.bio-container{
    display: grid;
    grid-template-columns: 7% 86% 7%;
    max-width: 850px;
    justify-self: center;
}
.container-for-bio-and-picture {
    
    width: 100%;
    max-height: 100%;
    max-width: 392px;
    justify-self: center;
    align-self: center;
    display: grid;
    grid-template-columns: 25% 50% 10% 15%;
    grid-template-rows: 45px 190px;
    margin-left: auto;
    margin-right: auto;
    

    
}
.socialLinks{
    grid-column: 3;
    grid-row: 2;
    align-self: center;
    justify-self: center;
    height: 40px;
    display: flex;
    flex-direction: column;
    margin-bottom: 55px;

    
    
}
.fa-brands{
    padding-top: 1.5rem;
    color: #004f80;
}

#me {
    object-fit: cover;
    grid-column: 2;
    grid-row: 2;
    border-radius: 50%;
    height: 170px;
    width: 170px;
    justify-self: center;
    align-self: center;
    box-shadow: 4px 8px 8px -3px rgba(0,0,0,0.27);
    

}

.bio {
    grid-column: 2;
    object-fit: cover;
    justify-self: center;
    
    margin: 5vh;

} 
.tech-section{
    display: grid;
    grid-template-columns: 4% 92% 4%;
}

.technologies-container{
    display: grid;
    grid-column: 2;
    grid-template-columns:12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
    grid-template-rows: 50px 70px;
    width: 98%;
    max-width: 700px;
    margin: 10px auto 10px auto;
    align-self: center;
    box-shadow: 4px 8px 19px -3px #0000007d ;
    border: inset 3px #ffffff;
    border-radius: 20px;
    

}

#logo1{
    grid-row: 2;
    grid-column: 1;
    
}
#logo2{
    grid-row: 2;
    grid-column: 2;
    
}
#logo3{
    grid-row: 2;
    grid-column: 3;
    
}
#logo4{
    grid-row: 2;
    grid-column: 4;
    
}
#logo5{
    grid-row: 2;
    grid-column: 5;
    
}
#logo6{
    grid-row: 2;
    grid-column: 6;
    
}
#logo7{
    grid-row: 2;
    grid-column: 7;
   
}
#logo8{
    grid-row: 2;
    grid-column: 8;
   
}
.relevant-tech{
    justify-self: center;
    align-self: center;
    grid-column: 2;
    font-size: 20px;
}


.projectPicture{
    
    max-height: 100%;
    width: 317.5px;
    height:214.55px;
    object-fit: fill;
    box-shadow: 0px 0px 8px 0px rgba(5, 5, 5, 0.5);
    grid-column: 1/ span 6 ;
    grid-row: 1;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    align-self: top;
}

.project-container{
    display: grid;
    grid-template-columns: 5% 90% 5%;
    grid-template-rows: 50px 530px 530px 530px;
    
}
.projects{
    grid-column: 2;
    grid-row: 1;
    align-self: center;
    justify-self: center;
}
#first{
    grid-column: 2;
    grid-row: 2;
    justify-self: center;
}
#second{
    grid-column: 2;
    grid-row: 3;
    justify-self: center;
}
#third{
    grid-column: 2;
    grid-row: 4;
    justify-self: center;
}
.card{
    background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
    background-blend-mode: multiply;
    margin: 10px;
    display: grid;
    grid-template-columns:  15% 25% 10% 10% 25% 15%;
    grid-template-rows:  42% 2% 7% 34% 6% 9%   ;
    width:317.5px;
    box-shadow: 4px 8px 19px -3px #0000007d ;
    border-radius: 25px;    
}
.project-title{
    grid-column: 1 / span 5 ;
    grid-row: 3 ;
    
    align-self: center;
    padding-left: 5px;
    margin: 0;
    border-bottom: solid 1px;
    font-weight: bold;
    font-size: 25px;
}
.project-description{
    grid-column: 1/ span 6;
    grid-row: 4;
    
    align-items: start;
    font-size: 16px;
    padding: 5px;
    
    margin:5px 10px 5px 10px;
    font-weight: 500 ;
}
.languages{
    grid-column: 1/ span 6;
    grid-row: 5;
    align-self:center ;
    font-size: 15px;
    margin: 0px 5px 12px 16px;
    
}
.button-container{
    background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
    background-blend-mode: multiply,multiply;
    grid-column: 1 / span 6 ;
    grid-row: 6;
    display: grid;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    
}
.live-sitebtn {
    grid-column: 1 / span 3 ;
    grid-row: 6;
    align-self: center;
    justify-self: center;
    height: 30px;
    margin-left: 15px;
    margin-bottom: 7px;
    border: unset;
    border-radius: 15px;
    color: #ffffff;
    z-index: 1;
    background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);
    position: relative;
    font-size: 16px;
    -webkit-box-shadow: 4px 8px 12px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 8px -3px rgba(0,0,0,0.27);
    transition: all 250ms;
    overflow: hidden;
    margin-right: 5px;
   }
   
   .live-sitebtn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
    background-blend-mode: multiply;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 8px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 8px -3px rgba(0,0,0,0.27);
    transition: all 250ms
   }
   
   .live-sitebtn:hover {
    color: #e8e8e8;
   }
   
   .live-sitebtn:hover::before {
    width: 100%;
   }

   .source-codebtn {
    grid-column: 4 / span 3 ;
    grid-row: 6;
    align-self: center;
    justify-self: center;
    height: 30px;
    margin-right: 15px;
    margin-bottom: 7px;
    border: unset;
    border-radius: 15px;
    color: #ffffff;
    z-index: 1;
    background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);
    position: relative;
    font-size: 16px;
    -webkit-box-shadow: 4px 8px 8px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 8px -3px rgba(0,0,0,0.27);
    transition: all 250ms;
    overflow: hidden;
    margin-left: 5px;
   }
   
   .source-codebtn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
 background-blend-mode: multiply;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 8px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 8px -3px rgba(0,0,0,0.27);
    transition: all 250ms
   }
   
   .source-codebtn:hover {
    color: #ffffff;
   }
   
   .source-codebtn:hover::before {
    width: 100%;
   }

   .logo{
    max-width: 42px;
    grid-column: 2;
    align-self: center;
    justify-self: center;

   }
   .logos{
    max-width: 42px;
    align-self: center;
    justify-self: center;
    grid-column: 2;
    grid-row: 2;
    position: relative;
   }
  
   .education-container{
    display: grid;
    grid-template-columns: 5% 10% 80% 5% ;
    grid-template-rows: 50px 150px 150px;
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
    

   }
   .education{
    grid-column: 1 /span 4;
    grid-row: 1;
    justify-self: center;
    align-self: center;
    padding-left: 3px;
    padding-right: 3px;
    font-size: 20px;
    border-bottom: 2px inset white;
    font-weight: bold;
   }
   .education-info{
    align-self: center;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    border: solid 2px white;
    border-radius: 20px;
    box-shadow: 4px 8px 8px -3px rgba(0,0,0,0.77);
   }
   .contact-container{
    display: grid;
    grid-template-columns:7% 86% 7% ;
    grid-template-rows: 125px;
    margin-bottom: 40px;
    justify-content: center;
   }

   .contact-card{
    display: grid;
    grid-column: 2;
    justify-self: center;
    max-width: 500px;
    width: 100%;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50px 75px;
    background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
 background-blend-mode: multiply,multiply;
    border-radius: 10px;
    box-shadow: 4px 8px 8px -3px rgba(0,0,0,0.77);
   }
   .contact-title{
    justify-self: center;
    grid-column: 1 / span 2;
   }

   .contact-me{
    display: grid;
    grid-row: 2;
    grid-column: 2;
    justify-self: center;
    
    
   }
   .modal-button, .modal-button2{
    grid-row: 2;
    justify-self: center;
    align-self: center;
    max-width: 150px;
    width: 150px;
   padding: 15px 25px;
 border: unset;
 border-radius: 15px;
 color: #ffffff;
 z-index: 1;
 background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
 position: relative;
 font-size: 17px;
 -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
 box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
 transition: all 250ms;
 overflow: hidden;
}

.modal-button::before, .modal-button2::before {
 content: "";
 position: absolute;
 top: 0;
 left: 0;
 height: 100%;
 width: 0;
 border-radius: 15px;
 background-color: #656565;
 z-index: -1;
 -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
 box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
 transition: all 250ms
}

.modal-button:hover, .modal-button2:hover {
 color: #e8e8e8;
}

.modal-button:hover::before, .modal-button2:hover::before {
 width: 100%;
}

   .modal-bg, .modal-bg2{
    position: fixed;
    width:100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition:visibility 0s, opacity 0.5s;
    z-index: 2;
   }
   .bg-active, .bg-active2{
    visibility: visible;
    opacity: 1;
    height: 100%;
    
   }
   .modal{
    
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 95vh;
    width: 100%;
   }
   .resume-card{
    display: grid;
    grid-template-columns: 3% 94% 3%;
    grid-template-rows: 100%;
    
   }
   .resume{
    width: 100%;
    grid-column: 2;
    grid-row: 1;
   }
   .modal-close{
    width:13px;
    height: 16px;
    grid-column:2 ;
    grid-row: 1;
    color: #004f80;
    cursor: pointer;
    border: solid;
    border-radius: 5px;
    justify-self: flex-start;
    margin:6px 0px 0px 93%;
    
    

   }
   .modal-close2{
    color: #004f80;
    cursor: pointer;
    grid-row: 1;
    grid-column: 2/ span 3;
    justify-self: end;
    align-self: flex-end;
    margin-right: 5px;
    border: solid;
    border-radius: 5px;

   }
   #success{
    color:blue;
    font-size: 10px;
   }

   .modal2{
    width: 87%;
    height: 65vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
    
   }
   .contact-form{
    display: grid;
    grid-template-columns: 5% 90% 5%;
    grid-template-rows: 7% 10% 15% 15% 34% 14% 5%;
    height: 100%;
    background-image: linear-gradient(to top, #a3bded 0%, #6991c7 100%);
    border-radius: 10px;
    max-width: 600px;
    width: 100%;
    justify-self: center;
    
   }
   
   #name-input{
    grid-row: 3;
    grid-column: 2 /span 1;
    background: transparent;
    max-width: 600px;
    width: 90%;
    height: 40px;
    border: solid black;
    border-radius: 20px;
    padding-left: 10px;
    justify-self: center;
    align-self: center;
    
    
   }
   #email-input{
    grid-row: 4;
    grid-column: 2 /span 1;
    background: transparent;
    width: 90%;
    height: 40px;
    align-self: center;
    border: solid black;
    border-radius: 20px;
    padding-left: 10px;
    align-self: center;
    justify-self: center;
    
   }
   input, textarea{
    background: transparent;
    outline: none;
    resize: none;
}


#message-input{
    grid-row: 5;
    grid-column: 2 /span 1;
    background: transparent;
    width: 90%;
    height: 80%;
    align-self: center;
    justify-self: center;
    border: solid black;
    border-radius: 20px;
    padding-left: 10px;
    padding-top: 10px;
    
    
    
    
}

/* From uiverse.io */
#send {
    grid-row: 6;
    grid-column: 2;
    display: inline-block;
    width: 80%;
    max-width: 400px;
    height: 50px;
    justify-self: center;
    align-self: center;
    margin-top: 15px;
    padding: 12px 24px;
    border: 1px solid #4f4f4f;
    border-radius: 20px;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    font-size: 19px;
    color: black;
    z-index: 1;
    background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
 box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.67);
   }
   
   #send:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
   }
   
   #send:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #ffffff;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
   }
   
   #send:hover {
    color: #ffffff;
    border: 1px solid #ffffff;
   }
   ::placeholder{
    color: rgb(0, 0, 0);
   }

   @media screen and (min-width:400px) {
    #logo1{
        
        max-width: 80%;
        max-height: 95%;
    }
    #logo2{
       
        max-width: 80%;
        max-height: 95%;
    }
    #logo3{
        
        max-width: 80%;
        max-height: 90%;
    }
    #logo4{
        max-width: 80%;
        max-height: 95%;
    }
    #logo5{
        
        max-width: 80%;
        max-height: 95%;
    }
    #logo6{
        
        max-width: 80%;
        max-height: 90%;
    }
    #logo7{
       
        max-width: 80%;
        max-height: 90%;
    }
    #logo8{
        
        max-width: 80%;
        max-height: 95%;
    }
   }
   @media screen and (min-width:700px) {
    .modal{
        width: 85%;
    }
   }

   @media screen and (min-width:800px) {

    .project-container{
        display: grid;
        grid-template-columns: 5% 45% 45% 5%;
        grid-template-rows: 50px 530px 530px ;
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
        }
    .projects{
        grid-column: 2 / span 2;
    }
    #second{
        grid-row: 2;
        grid-column: 3;
    }
    #third{
        grid-row: 3;
    }
    .modal{
        width: 80%;
        max-width: 700px;
       }

   }
   @media screen and (min-width: 1200px) {
    .container-for-bio-and-picture {
        max-width: 500px;
        grid-template-rows: 45px 250px;
    }
    #me {
        
        height: 250px;
        width: 250px;
        
    
    }
    
    .project-container{
        grid-template-columns: 5% 30% 30% 30% 5%;
        grid-template-rows: 50px 530px ;
        max-width: 1400px;
        }
    .projects{
        grid-column: 3 ;
    }
    #third{
        grid-row: 2;
        grid-column: 4;
    }
    .modal{
        max-width: 750px;
    }
   }

   