body {
    background-color:#2E5159;
    margin: 0;
    padding:0;
    
    
}

.picbio {
    height: 25vh;
    display: flex;
    margin: 16vh 0vw 10vh 0vw ;
    border-bottom: 1px solid black;
    
}

.picture {
    border: 1px solid white;
    flex-basis:32%;
    

}
#me {
    height: 13.8vh
}

.bio {
    
    /* border: 1px solid; */
    flex-basis: 60%;
    background-color:#56735A ;
    margin: 5vh;

}

.projects {
    display: flex;
    height: 30vh;
    /* border: 1px solid black; */
    margin: 5vh 0vw 10vh 0vw;
    justify-content: center;
    align-content: center;
    border-bottom: 1px solid;
    
    
}

.links {
    display: flex;
    height: 10vh;
    /* border: 1px solid black; */
    margin: 1vh 3vw 3vh 3vw;
    align-items: center;
    justify-content: center;
}
.projectPicture{
    height:200px;
    
    
    
}
.item {
width: 100%;
position: relative;
background-color: red;
border: 3px solid blue;
display: flex;
justify-content: center;
align-items: center;
}
.text {
    position: absolute;
    color: orange;
    display:;
}
#resume {
    height: 3vh;
}
.list {
    background-color: blue;
}


@media screen and (max-width: 420px ) {
    .picbio{
        flex-wrap: wrap;
        justify-content: center;
        padding-bottom: 10vh;
        
    }
    .picture{
    height: 55%;
    margin-bottom: auto; 
    }
    .bio{
        height: 45%
    }
}

/* Color Theme Swatches in Hex */
/* .Afternoon-by-the-river-1-hex { color: #2E5159; }
.Afternoon-by-the-river-2-hex { color: #142426; }
.Afternoon-by-the-river-3-hex { color: #8C8577; }
.Afternoon-by-the-river-4-hex { color: #D9BEA7; }
.Afternoon-by-the-river-5-hex { color: #F2D6BD; } */
